cloudbarista/topology.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="topology">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="service">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
                <xs:attribute type="xs:string" name="region"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="storage">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="compute">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="role" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="osvhd">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="image">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="id" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="media">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="storageid" use="optional"/>
                                  <xs:attribute type="xs:string" name="container" use="optional"/>
                                  <xs:attribute type="xs:string" name="blob" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="vmconf">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ssh">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="disablepasswordauth" use="optional"/>
                                  <xs:attribute type="xs:string" name="username" use="optional"/>
                                  <xs:attribute type="xs:string" name="password" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="netconf">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="endpoint" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="name" use="optional"/>
                                  <xs:attribute type="xs:string" name="isloadbalanced" use="optional"/>
                                  <xs:attribute type="xs:string" name="protocol" use="optional"/>
                                  <xs:attribute type="xs:byte" name="start" use="optional"/>
                                  <xs:attribute type="xs:byte" name="local" use="optional"/>
                                  <xs:attribute type="xs:byte" name="cloud" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id" use="optional"/>
                  <xs:attribute type="xs:byte" name="count" use="optional"/>
                  <xs:attribute type="xs:string" name="size" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="network"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>